﻿
@{
    ViewBag.Title = "MatrizGestionDevExpress";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



@*<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

@*<script src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")" type="text/javascript"></script>

@Html.DevExpress().GetScripts(
        new Script {ExtensionSuite = ExtensionSuite.PivotGrid })*@

@*<script src="@Url.Content("~/Scripts/jquery-2.2.3.js")" type="text/javascript"></script>*@


  


<h2> MatrizGestionDevExpress </h2><br/>
<br/>



@Html.Action("PivotGridPartial", "MatrizGestion")


@*<script src="~/Scripts/jquery-1.11.1.min.js"></script><script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

