﻿@model ENTIDADES.Login.UsuarioViewModel

@{
    ViewBag.Title = "CambiarContraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- quick email widget -->
<div class="content">
    <div class="box box-info">
        <div class="box-header">
            <i class="fa fa-key"></i>

            <h3 class="box-title">Cambiar contraseña</h3>
            <!-- tools box -->
            <div class="pull-right box-tools">

            </div>
            <!-- /. tools -->
        </div>
        <div class="box-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @*@Html.LabelFor(model => model.CodigoAlterno, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <h4 class="control-label col-md-2 Indicacion"> Código alterno</h4>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.CodigoAlterno, new { @class = "form-control resultado", @disabled = "disabled" })
                            <input type="hidden" name="CodigoAlterno" value="@Model.CodigoAlterno" />
                            <input type="hidden" name="CveEmpleado" value="@Model.CveEmpleado" />
                            @Html.ValidationMessageFor(model => model.CodigoAlterno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.NombreEmp, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <h4 class="control-label col-md-2 Indicacion"> Nombre</h4>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.NombreEmp, new { @class = "form-control resultado", @disabled = "disabled", @value = Model.NombreEmp })
                            <input type="hidden" name="NombreEmp" value="@Model.NombreEmp" />
                            @Html.ValidationMessageFor(model => model.NombreEmp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <h4 class="control-label col-md-2 Indicacion"> Contraseña Actual</h4>
                        <div class="col-md-6">
                            @Html.PasswordFor(model => model.ActPassword, new { @class = "form-control resultado" })
                            @Html.ValidationMessageFor(model => model.ActPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <h4 class="control-label col-md-2 Indicacion"> Contraseña Nueva</h4>
                        <div class="col-md-6">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control resultado" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*repetir contraseñña para coroborar que sea correcto*@
                        <h4 class="control-label col-md-2 Indicacion">Repetir Contraseña Nueva</h4>
                        <div class="col-md-6">
                            @Html.PasswordFor(model => model.ValidatePassword, new { @class = "form-control resultado" })
                            @Html.ValidationMessageFor(model => model.ValidatePassword, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-7 col-md-10">
                            <input type="submit" value="Guardar" class="ok" />
                        </div>
                    </div>
                    <br />
                    @if (Model.codigoRespuesta != null)
                {
                        <div class="form-group col-md-10" style="text-align:center">
                            <span class="label label-success respuesta">@Model.codigoRespuesta.ToString()</span>
                            <span class="label label-success respuesta">@Model.mensajeRespuesta</span>
                        </div>

                    }


                </div>
            }


        </div>

    </div>
</div>

<style>
    .resultado{
        margin-top: 15px!important;
        height: 26px!important;
    }
    .label {
            font-size: 106%!important;
    }

        
</style>