﻿@model ENTIDADES.Login.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
@*<html lang="en">*@
<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />*@
    <link href="http://www.dineroinmediato.com.mx/images/icon.png" rel="shortcut icon">
    <!--===============================================================================================-->
    <link href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/css/util.css" rel="stylesheet" />
    <link href="~/Content/Login/css/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter" style="background-image: url(Content/Imagenes/logo.jpg);">
        <div class="container-login100">
            <div class="wrap-login100">
                @*<div class="login100-form-title" style="background-image: url(http://10.10.0.2/Inventario/Content/Imagenes/Inventario1.jpg);">*@
                <div class="login100-form-title" style="background-image: url('/Analitica/Content/Imagenes/dos.jpg');">
          
                    <span class="login100-form-title-1">
                        Analitica
                    </span>
                </div>

                <div class="text-center pt-0 text-danger">
                    @ViewBag.MensajeRespuesta
                </div>

                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal login100-form validate-form" }))
                {
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Usuario</span>
                        <input class="input100" type="text" name="Usr" id="Usr" placeholder="Ingresar su Usuario">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Contraseña</span>
                        <input class="input100" type="password" name="Pass" id="Pass" placeholder="Ingresar Contraseña">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Iniciar sesión
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

