﻿@model IEnumerable<ENTIDADES.Mantenimiento.OperacionesViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "ManDiaHabil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*//INICIAR CALENDARIO*@
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/Plantilla/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="~/Scripts/Plantilla/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>

<div class="content">
    <div class="box box-info" style="min-height: 506px;">
        <div class="box-header" style="padding-top:0px!important;">
            <h4 class="col-md-12 Indicacion text-center">Días inhabiles</h4>
        </div>
        <hr />
        <div class="box-body">
            <div class="container col-md-12" style="margin: 0px 0px 20px 0px!important;">
                <button class="ok" id="AddDia" type="button">Nuevo</button>
            </div>

            @Html.Grid(Model).Named("Dia").Columns(columns =>
       {
           //columns.Add(c => c.Folio).Titled("Folio").Css("gridCel").Sortable(true).Filterable(true);
           columns.Add(c => c.SucursalID).Titled("Sucursal").Css("gridCel").Sortable(true).Filterable(true).Title.Trim();
           columns.Add(c => c.NomMes).Titled("Fecha").Css("gridCel").Sortable(true).Filterable(true);
           columns.Add(c => c.DiasHabiles).Titled("Total dias inhabiles").Css("gridCel").Sortable(true).Filterable(true);

           //  columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => "<a data-id ='" + o.Folio+ "' id ='" + o.Folio+ "' data-toggle ='modal' data-target = '#DivDiaHabil' class='btnOK' onclick = 'EditarDiaHabil(this.id);'><i class='fa fa-eye' aria-hidden='true'></i></a>");

           //           columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => "<a id ='" + o.SucursalID+','+ o.NomMes + "' data-toggle ='modal' data-target = '#DivDiaHabil' class='btnOK' onclick = 'EditarDiaHabil(this.id);'><i class='fa fa-trash-o' aria-hidden='true'></i></a>");
           columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => "<a id ='" + o.SucursalID + ',' + o.NomMes + "' data-toggle ='modal' class='btnOK' onclick = 'QuestionEliminar(this.id);'><i class='fa fa-trash-o' aria-hidden='true'></i></a>");


       }).Sortable(true).EmptyText("Sin Registros").WithPaging(15, 5)

            @*<input type="text" class="form-control date" placeholder="Pick the multiple dates">*@

        </div>
    </div>
</div>

<!-- Modal para agregar nuevos dias inhabiles -->
<div class="modal fade" id="AltaDias" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title Indicacion" id="staticBackdropLabel">Alta de Dias inhabiles</h4>
            </div>
            <form id="FormProducto">
                <div class="modal-body">

                    <h4 class="Indicacion">Sucursal:</h4>
                    @Html.DropDownList("SucursalID", new SelectList(string.Empty, "Value", "Text"), "- Seleccione la sucursal -", new { @class = "lista resultado", @name = "SucursalID" })
                    <h4 class="Indicacion">Mes:</h4>
                    <input class="Indicacion" type="month" name="mesAnio" id="mesAnio" step="1">
                    <h4 class="Indicacion">Cantidad:</h4>
                    @*<input class="Indicacion" type="text" name="Cantidad" id="Cantidad">*@
                    <input type="text" class="Indicacion date"  name="FechaInhabil" id="FechaInhabil">
                </div>
                <div class="modal-footer">
                    <button class="cnc" type="button" id="Cancelar" value="Cancelar" data-dismiss="modal" aria-label="Close" style="padding:5px 10px 1px!important;">
                        Cancelar
                    </button>
                    <button class="ok" type="button" id="Alta" value="Alta"> Guardar </button>
                </div>
            </form>
        </div>
    </div>
</div>

@*Mensaje al guardar la cantidad de dia habil*@
<div class="modal fade" id="mensajeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="resultado" class="text-center"></div>
                <button class="cnc" onclick="location.reload();" type="button">  Cerrar. </button>
            </div>

        </div>
    </div>
</div>

<script>
    //AddDia
    $(document).ready(function () {

        //SUCURSAL
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Sucursal")',
            dataType: 'json',
            success: function (Sucursal) {

                $.each(Sucursal, function (i, Sucursal) {
                    $("#SucursalID").append('<option value="' + Sucursal.Value + '">' + Sucursal.Text + '</option>');
                });
            },
        });

        //abrir modal de alta
        $("#AddDia").click(function () {
            $('#AltaDias').modal('show');
        })

        //ALTA DE DIA HABIL
        $("#Alta").click(function () {
            var SucursalID = $("#SucursalID").val();            
            var mesAnio = $("#mesAnio").val();
            //var Cantidad = $("#Cantidad").val();
            var FechaInhabil = $("#FechaInhabil").val();
                       
            $.ajax({
                type: "post",
                url: '@Url.Action("AltaDiaHabil")',
                data: { SucursalID, mesAnio, FechaInhabil },
                success: function (response) {
                    resultado
                    $('#AltaDias').modal('hide');
                    $('#mensajeModal').modal('show');
                    $('#resultado').html(response);
                }
            });
        });
    });
    //INICIAR CALENDARIO
    $(".date").datepicker({
        multidate: true,
        format: "dd-mm-yyyy",
        'language': 'es'
    });
</script>

@*editar dia habil
    BUSCAR EL DIA HABIL EN LA BD Y ELIMINAR TODOS LOS REGISTROS PARA VOLVER A CREAR NUEVOS
*@

@* ELIMINAR EL DIA INHABIL *@
<script type="text/javascript">
    function QuestionEliminar(SucursalID) {
        $('#SucursalIDModal').val(SucursalID);
        $('#EliminarModal').modal('show');
    }

    $("#AddBase").click(function () {
        $('#AltaBase').val(SucursalID)
        $('#AltaBase').modal('show');
    });
  
    function eliminarDB() {

        var SucursalID = $("#SucursalIDModal").val();
        console.log(SucursalID);

        var suc = SucursalID;
        var cadena = SucursalID.split(",");

        var SucursalID = cadena[0];
        var mesAnio = cadena[1];

        console.log(SucursalID);
        console.log(mesAnio);


            $.ajax({
                type: "post",
                url: '@Url.Action("ActualizarDiaHabil")',
                data: { SucursalID, mesAnio },
                success: function (response) {
                    $('#EliminarModal').modal('hide');
                    $('#resultado').html(response);
                    $('#mensajeModal').modal('show');
                }
            });
        
    }
</script>

 @*Mensaje para confirmar si se desea eliminar los dias habiles*@
<div class="modal fade" id="EliminarModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <input type="hidden"  id="SucursalIDModal"/>
                    <h4 class="modal-title Indicacion" id="staticBackdropLabel"> ¿ Desea eliminar el dia inhabil ?  </h4>                    
                </p>
            </div>
            <div class="modal-footer">
                <button class="cnc" onclick="location.reload();" type="button">  No, cerrar. </button>
                <button class="ok" onclick="eliminarDB()"  type="button">  Si, eliminar. </button>
            </div>

        </div>
    </div>
</div>
<style>
    .dropdown.dropdown-menu.grid-dropdown.opened {
        margin-left: -67px !important;
    }

    .grid-dropdown-arrow {
        left: 63px !important;
    }
</style>