﻿@model IEnumerable<ENTIDADES.Mantenimiento.OperacionesViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "MantMatrizGestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="box box-info" style="min-height: 506px;">
        <div class="box-header" style="padding-top:0px!important;">
            <h4 class="col-md-12 Indicacion text-center">Base de la matriz de indicadores de gestión</h4>
        </div>
        <hr />
        <div class="box-body">
            <div class="container col-md-12" style="margin: 0px 0px 10px 0px!important;">
                <button class="ok" id="AddBase" type="button">Nuevo <i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.BaseID).Titled("Folio").Css("gridCel").Sortable(true).Filterable(true);
               columns.Add(c => c.Nombre).Titled("Nombre").Css("gridCel").Sortable(true).Filterable(true);
               columns.Add(c => c.Valor).Titled("Meta").Css("gridCel").Sortable(true).Filterable(true);
               columns.Add(c => c.SucursalID).Titled("Sucursal").Css("gridCel").Sortable(true).Filterable(true);
               columns.Add(c => c.AliadoID).Titled("Aliado").Css("gridCel").Sortable(true).Filterable(true);
               columns.Add(c => c.NomMes).Titled("Mes").Css("gridCel").Sortable(true).Filterable(true);
               columns.Add(c => c.Anio).Titled("Año").Css("gridCel").Sortable(true).Filterable(true);
               columns.Add().Titled("Opciones").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => "<a data-id ='" + o.BaseID + "' id ='" + o.BaseID + "' data-toggle ='modal' data-target = '#DivBase' class='btnOK' onclick = 'EditarBase(this.id, );'><i class='fa fa-pencil' aria-hidden='true'></i></a>");
           }).Sortable(true).EmptyText("Sin Registros").WithPaging(15, 5)
        </div>
    </div>
</div>

<!-- Modal para agregar nuevas bases  -->
<div class="modal fade" id="AltaBase" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title Indicacion" id="staticBackdropLabel">Alta de la meta</h4>
            </div>
            <form id="FormProducto">
                <div class="modal-body">

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Meta por sucursal
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Meta por aliado
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_3" data-toggle="tab">
                                        Meta por año
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" style="padding: 0px 0px!important;">
                                <div class="tab-pane active" id="tab_default_1">
                                    <div class="form-group">
                                        <div class="col-md-7">
                                            <h4 class="Indicacion">Nombre:</h4>
                                            <select class="lista resultado" id="Nombre" name="Nombre">
                                                <option value=""> - Seleccionar - </option>
                                                <option value="Prestamo promedio">Prestamo promedio</option>
                                                <option value="Porcentaje máximo de enajenación">Porcentaje máximo de enajenación</option>
                                                <option value="Cartera total">Cartera total</option>
                                                <option value="Capital prestado">Capital prestado</option>
                                                <option value="Ingresos (empeño)">Ingresos (empeño)</option>
                                                <option value="Clientes nuevos empeños">Clientes nuevos empeños</option>
                                                <option value="Clientes nuevos ventas">Clientes nuevos ventas</option>
                                                <option value="Ingreso venta (aparatos)">Ingreso venta (aparatos)</option>
                                                <option value="Ingreso venta (celulares)">Ingreso venta (celulares)</option>
                                                <option value="Ingreso venta (joyería)">Ingreso venta (joyería)</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <h4 class="Indicacion">Mes:</h4>
                                            <input class="Indicacion" type="month" name="mesAnio" id="mesAnio" step="1" style="font-size: 14px!important">
                                        </div>
                                    </div>
                                    <div>
                                        <table class="table" id="sucu" style="margin-top:23px!important">
                                            <thead> <tr><th></th></tr></thead>
                                            <tbody id="Sucursales"></tbody>
                                        </table>
                                        <div class="modal-footer">
                                            <button class="cnc" type="button" id="Cancelar" value="Cancelar" data-dismiss="modal" aria-label="Close" style="padding:5px 10px 1px!important;">
                                                Cancelar
                                            </button>

                                            <button class="ok" type="button" id="Alta" value="Alta">
                                                Guardar
                                            </button>
                                        </div>

                                        <p id="demo"></p>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_default_2">
                                    <h4 class="Indicacion">Nombre:</h4>
                                        <select class="lista resultado" id="NombreAliado" name="NombreAliado">
                                            <option value=""> - Seleccionar - </option>
                                            <option value="Prestamo promedio">Prestamo promedio</option>
                                            <option value="Porcentaje máximo de enajenación">Porcentaje máximo de enajenación</option>
                                            <option value="Cartera total">Cartera total</option>
                                            <option value="Capital prestado">Capital prestado</option>
                                            <option value="Ingresos (empeño)">Ingresos (empeño)</option>
                                            <option value="Clientes nuevos empeños">Clientes nuevos empeños</option>
                                            <option value="Clientes nuevos ventas">Clientes nuevos ventas</option>
                                            <option value="Ingreso venta (aparatos)">Ingreso venta (aparatos)</option>
                                            <option value="Ingreso venta (celulares)">Ingreso venta (celulares)</option>
                                            <option value="Ingreso venta (joyería)">Ingreso venta (joyería)</option>
                                        </select>

                                        <h4 class="Indicacion">Meta:</h4>
                                        <input class="resultado" type="number" id="ValorAliado" name="ValorAliado" maxlength="100" autocomplete="off">

                                        <h4 class="Indicacion">Sucursal:</h4>
                                        @Html.DropDownList("SucursalIDAliado", new SelectList(string.Empty, "Value", "Text"), "- Seleccione la sucursal -", new { @class = "lista resultado", @name = "SucursalIDAliado" })

                                        <h4 class="Indicacion">Aliado:</h4>
                                        @Html.DropDownList("AliadoID", new SelectList(string.Empty, "Value", "Text"), "- Selecciona el aliado -", new { @class = "lista resultado", @name = "AliadoID" })

                                        <h4 class="Indicacion">Mes:</h4>
                                        <input class="Indicacion" type="month" name="mesAnioAliado" id="mesAnioAliado" step="1">

                                    <div class="modal-footer">
                                        <button class="cnc" type="button" id="Cancelar" value="Cancelar" data-dismiss="modal" aria-label="Close" style="padding:5px 10px 1px!important;">
                                            Cancelar
                                        </button>
                                        <button class="ok" type="button" id="AltaAliado" value="Alta">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_default_3">
                                    
                                    <div class="form-group">
                                        <div class="col-md-7">
                                            <h4 class="Indicacion">Nombre:</h4>
                                            <select class="lista resultado" id="NombreAnio" name="NombreAnio">
                                                <option value=""> - Seleccionar - </option>
                                                <option value="Prestamo promedio">Prestamo promedio</option>
                                                <option value="Porcentaje máximo de enajenación">Porcentaje máximo de enajenación</option>
                                                <option value="Cartera total">Cartera total</option>
                                                <option value="Capital prestado">Capital prestado</option>
                                                <option value="Ingresos (empeño)">Ingresos (empeño)</option>
                                                <option value="Clientes nuevos empeños">Clientes nuevos empeños</option>
                                                <option value="Clientes nuevos ventas">Clientes nuevos ventas</option>
                                                <option value="Ingreso venta (aparatos)">Ingreso venta (aparatos)</option>
                                                <option value="Ingreso venta (celulares)">Ingreso venta (celulares)</option>
                                                <option value="Ingreso venta (joyería)">Ingreso venta (joyería)</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <script>
                                                    function ComboAnio() {
                                                        var n = (new Date()).getFullYear()
                                                        var select = document.getElementById("anio");
                                                        for (var i = n; i >= 2005; i--) select.options.add(new Option(i, i));
                                                    };
                                                    window.onload = ComboAnio;
                                            </script>
                                            <h4 class="Indicacion">Año:</h4>
                                            <select name="" id="anio"></select>
                                        </div>
                                    </div>
                                    <div>
                                        <table class="table" id="sucuAnio" style="margin-top:23px!important">
                                            <thead> <tr><th></th></tr></thead>
                                            <tbody id="SucursalesAnio"></tbody>
                                        </table>
                                        <div class="modal-footer">
                                            <button class="cnc" type="button" id="Cancelar" value="Cancelar" data-dismiss="modal" aria-label="Close" style="padding:5px 10px 1px!important;">
                                                Cancelar
                                            </button>

                                            <button class="ok" type="button" id="AltaAnio" value="Alta">
                                                Guardar
                                            </button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        //SUCURSAL
        $.ajax({
            type: 'POST',
            //url: '@Url.Action("Sucursal")',
            url: '@Url.Action("Sucursal", "MatrizGestion")',
            dataType: 'json',
            success: function (Sucursal) {
                $.each(Sucursal, function (i, Sucursal) {
                    $("#SucursalIDAliado").append('<option value="' + Sucursal.Value + '">' + Sucursal.Text + '</option>');
                });

                Sucursal.forEach(SucursalID)
                function SucursalID(item, index) {
                    //Prestamo promedio
                    cuerpo = '<tr><td id="Nombre">'+ item.Text + ' </td>'
                              + '<td style="text-decoration: underline;">'
                              +'<input type="text" name="valor" id="'+item.Text+'" placeholder="Meta" style="width: 123px;text-align:right">'
                              +'</td></tr>';
                    $("#Sucursales").append(cuerpo);
                    $("#SucursalesAnio").append(cuerpo);
                }

                //Sucursal.forEach(SucursalID)
                //function SucursalID(item, index) {
                //    //Prestamo promedio
                //    cuerpoAnio = '<tr><td id="Nombre">' + item.Text + ' </td>'
                //              + '<td style="text-decoration: underline;">'
                //              + '<input type="text" name="valor" id="' + item.Text + '" placeholder="Meta" style="width: 123px;text-align:right">'
                //              + '</td></tr>';
                //    $("#SucursalesAnio").append(cuerpoAnio);
                //}


            },
        });

        //abrir modal de alta
        $("#AddBase").click(function () {
            $('#AltaBase').modal('show');
        })
    });

    //ALIADO POR SUCURSAL
    $("#SucursalIDAliado").change(function () {
        //var NomSuc = $("#SucAliado").val();
        $("#AliadoID").empty();
        //Sacar el nombre de la sucursal
        var combo = document.getElementById("SucursalIDAliado");
        var NomSuc = combo.options[combo.selectedIndex].text;
        //CVe sucursal para conectar al servidor de empeños y buscar lis aliados
        var CveSuc = combo.options[combo.selectedIndex].value;

        $.ajax({
           
            url: '@Url.Action("Aliado", "MatrizGestion")',
            type: 'POST',
            dataType: 'json',
            data: { NomSuc, CveSuc},
            success: function (AliadoAliado) {
                $.each(AliadoAliado, function (i, AliadoAliado) {
                    $("#AliadoID").append('<option value="' + AliadoAliado.Value + '">' + AliadoAliado.Text + '</option>');
                });
            },
        })

    });

    //guardar base por sucursal
    $("#Alta").click(function () {

        //let SucMeta = [];
        var SucMeta = new Array();
        $('#sucu tbody tr').each(function () {
            let fila={
                SucursalID : $(this).find("td").eq(0).html(),
                valor : $(this).find("td input").eq(0).val(),
            };
            SucMeta.push(fila);
        });

        var mesAnio = $("#mesAnio").val();

        var nomb = document.getElementById("Nombre");
        var Nombre = nomb.options[nomb.selectedIndex].text;
        
        $.ajax({
            type: "post",
            url: '@Url.Action("AltaMatrizGestionBase")',
            dataType:"json",
            //data: { Nombre, Valor, AliadoID, mesAnio, SucMeta },
            data: { Nombre, mesAnio, SucMeta},
            success: function (response) {
                $('#mensajeModal').modal('show');
                $('#resultado').html(response);
            }
        });
    });

    //guardar base por aliado
    $("#AltaAliado").click(function () {
       var nomb = document.getElementById("NombreAliado");
        var Nombre = nomb.options[nomb.selectedIndex].text;

        var Valor = $("#ValorAliado").val();

        var combo = document.getElementById("SucursalIDAliado");
        var SucursalID = combo.options[combo.selectedIndex].text;

        var mesAnio = $("#mesAnioAliado").val();

        var Aliado = document.getElementById("AliadoID");        
        var AliadoID = Aliado.options[Aliado.selectedIndex].value;
        
        $.ajax({
            type: "post",
            url: '@Url.Action("AltaMatrizGestionBase")',
            dataType:"json",
            //data: { Nombre, Valor, AliadoID, mesAnio, SucMeta },
            data: { Nombre, Valor, SucursalID, mesAnio, AliadoID},
            success: function (response) {
                $('#mensajeModal').modal('show');
                $('#resultado').html(response);
            }
        });
    });


    //guardar base por año
    $("#AltaAnio").click(function () {
        var nomb = document.getElementById("NombreAnio");
        var Nombre = nomb.options[nomb.selectedIndex].text;

        var mesAnio = $("#anio").val();

        var SucMeta = new Array();
        $('#sucuAnio tbody tr').each(function () {
            let fila = {
                SucursalID: $(this).find("td").eq(0).html(),
                valor: $(this).find("td input").eq(0).val(),
            };
            SucMeta.push(fila);
        });

        $.ajax({
            type: "post",
            url: '@Url.Action("AltaMatrizGestionBase")',
            dataType: "json",
            //data: { Nombre, Valor, AliadoID, mesAnio, SucMeta },
            data: { Nombre, mesAnio, SucMeta},
            success: function (response) {
                $('#mensajeModal').modal('show');
                $('#resultado').html(response);
            }
        });
    });
</script>

@*Mensaje al guardar la base*@
<div class="modal fade" id="mensajeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                    <span aria-hidden="true">&times;</span>
                </button>
                @*<h4 class="modal-title" id="staticBackdropLabel">Alta de base</h4>*@
            </div>
            <div class="modal-body">
                <div id="resultado" class="text-center"></div>
                <button class="cnc" onclick="location.reload();" type="button">
                    Cerrar.
                </button>
            </div>
            
        </div>
    </div>
</div>

<style>

    table.grid-table tr.grid-row-selected td {
    background: rgba(238, 238,238,0.31)!important;
    color: #333;
}
</style>

<script type="text/javascript">
    function EditarBase(BaseID) {
            var laURLDeLaVista = '@Url.Action("OpcionesBase", "Operaciones")';
            $.ajax({
                type: "post",
                url: laURLDeLaVista,
                data: { BaseID },
                success: function (response) {
                    //$('#BodyBase').html(ProductoID);
                    $('#BodyBase').html(response);
                }
            });
        }
</script>
<!-- Modal con un dato del producto para modificar o para eliminarlo -->
<div class="modal fade" id="DivBase" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title Indicacion"> Modificar base de matriz de indicadores de gestión</h4>
            </div>
            <div class="modal-body">
                <div id="BodyBase"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .dropdown.dropdown-menu.grid-dropdown.opened {
    margin-left: -67px!important;
}
.grid-dropdown-arrow {
    left: 63px!important;
}
</style>