﻿
@model ENTIDADES.Mantenimiento.OperacionesViewModel
@{
    ViewBag.Title = "Actualizar dia habil";
    Layout = null;
}


@*<script src="~/Scripts/jquery-2.2.3.js"></script>*@

<form id="FormBase">
    
    <h4 class="Indicacion">Sucursal:</h4>
    @Html.DropDownList("SucursalID", ViewBag.Sucursal as List<SelectListItem>, new { @class = "lista", @name = "SucursalID" })

    <h4 class="Indicacion">Mes:</h4>
    <input class="Indicacion" type="month" id="mesAnio" name="mesAnio" value="@Model.mesAnio">


    <h4 class="Indicacion">Cantidad:</h4>
    @*<input class="resultado" type="text" id="Cantidad" name="Cantidad" value="@Model.Cantidad" maxlength="100" autocomplete="off">*@
    <input type="text" class="Indicacion date" name="FechaInhabil" id="FechaInhabil">

    
    <div class="modal-footer">
        <button class="cnc" type="button" data-dismiss="modal" aria-label="Close" style="padding:4px 10px 2px!important;">Cancelar</button>
        <button type="button" class="ok" onclick="Modificar()">Guardar</button>
    </div>
</form>

<script>
    //INICIAR CALENDARIO
    $(".date").datepicker({
        multidate: true,
        format: "dd-mm-yyyy",
        'language': 'es'
    });
</script>

@*Mensaje al modificar la base*@
<div class="modal fade" id="mensajeActModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div id="resultadoMod" class="text-center"></div>
                <button class="cnc" onclick="location.reload();" type="button">
                    Cerrar.
                </button>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    function Modificar() {

        var Folio = $("#Folio").val();
        var SucursalID = document.getElementsByName("SucursalID")[1].value;
        var mesAnio = document.getElementsByName("mesAnio")[1].value;
        var Cantidad = document.getElementsByName("Cantidad")[1].value;

        if (Folio.length == 0 || SucursalID.length == 0 || mesAnio.length == 0 || Cantidad.length == 0) {
           // validar();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ActualizarDiaHabil")',
                dataType: 'json',
                data: { Folio, SucursalID, mesAnio, Cantidad },
                success: function (MensajeRespuesta) {

                    $('#DivBase').modal('hide');
                    $('#mensajeActModal').modal('show');
                    $('#resultadoMod').html(MensajeRespuesta);

                },
            });

        }

    }
</script>


@*<script type="text/javascript">
        function validar() {
            jQuery.validator.setDefaults({

            });
            $("#FormBase").validate({
                ignore: [],

                rules: {
                    BaseID: {
                        required: true
                    },
                    Nombre: {
                        required: true
                    },
                    Valor: {
                        required: true
                    },
                    SucursalID: {
                        required: true
                    },
                    AliadoID: {
                        required: true
                    },
                    mesAnio: {
                        required: true
                    }
                },
                messages: {
                    BaseID: {
                        required: "Se require el folio de la base"
                    },
                    Nombre: {
                        required: "Se require el nombre de la base"
                    },
                    Valor: {
                        required: "Se requiere el valor de la base"

                    },
                    SucursalID: {
                        required: "Se requiere la sucursal de la base"
                    },
                    AliadoID: {
                        required: "Se requiere el aliado de la base"
                    },
                    mesAnio: {
                        required: "Se requiere la fecha de la base"
                    }

                }
            });
       }
    </script>*@





