﻿
@model IEnumerable<ENTIDADES.RH.IRPViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="box box-info" style="min-height: 506px;">
        <div class="box-header" style="padding-top:0px!important;">
            @*<h4 class="col-md-6 Indicacion text-left">Reclutamiento de personal</h4>*@
            @*<h4 class="col-md-6 Indicacion text-right">Sucursal</h4>*@
        </div>
        <hr />
        <div class="box-body">


            @*@Html.Action("GridViewPartial", "IRP")*@
            
            <div class="house">
                <span class="Indicacion text-center" style="display:inherit">Indicador rotación de personal</span>
                
                <div class="col-md-12" style="padding: 15px 0px;">

                    <input class="Entrada" type="number"  id="ValorMinimo" value="0.00" placeholder="0.00" step="0.01" min="0.00"/>@*placeholder="Valor mínimo rotación"*@
                    <input class="Entrada" type="number" value="0.00" placeholder="0.00" step="0.01" id="ValorMaximo" max="100.00" /> @*placeholder="Valor máximo rotación"*@
                    
                    <button class="ok" id="Rotacion" type="button">
                        Rotación
                    </button>
                </div>
                @*<table class="table table-striped table-hover table-condensed small-top-margin" id="IRP">
                    <thead>
                        <tr>
                            <th>Ann</th>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dic</th>

                        </tr>
                    </thead>
                    <tbody id="tableBodyIRP"></tbody>
                </table>*@

                @*<div style="width:100%;" class="table table-striped table-hover table-condensed small-top-margin">*@
                    @Html.Grid(Model).Columns(columns =>
                   {
                       columns.Add(c => c.Ann).Titled("Ann").SetWidth(20).Css("gridCel").Sortable(false).Filterable(false);
                       columns.Add(c => c.Ene).Titled("Ene").SetWidth(20).Css("gridCel").Sortable(false).Filterable(false);
                       columns.Add(c => c.Feb).Titled("Feb").SetWidth(20).Css("gridCel").Sortable(true);
                       columns.Add(c => c.Mar).Titled("Mar").SetWidth(20).Css("gridCel").Sortable(true);
                       columns.Add(c => c.Abr).Titled("Abr").SetWidth(100).Css("gridCel").Sortable(true);
                       columns.Add(c => c.May).Titled("May").SetWidth(20).Css("gridCel").Sortable(true);
                       columns.Add(c => c.Jun).Titled("Jun").SetWidth(20).Css("gridCel").Sortable(true);
                       columns.Add(c => c.Jul).Titled("Jul").SetWidth(20).Css("gridCel").Sortable(true);
                       columns.Add(c => c.Ago).Titled("Ago").SetWidth(20).Css("gridCel").Sortable(true).Filterable(false);
                       columns.Add(c => c.Sep).Titled("Sep").SetWidth(20).Css("gridCel").Sortable(true);
                       columns.Add(c => c.Oct).Titled("Oct").SetWidth(20).Css("gridCel").Sortable(true).Filterable(false);
                       columns.Add(c => c.Nov).Titled("Nov").SetWidth(20).Css("gridCel").Sortable(true).Filterable(false);
                       columns.Add(c => c.Dic).Titled("Dic").SetWidth(20).Css("gridCel").Sortable(true).Filterable(false);

                   }).Sortable(true).EmptyText("Sin Registros").WithPaging(0)
                    @*.WithPaging(9, 5)*@
                @*</div>*@


            </div>
           
               
           
            <div class="house">
                <span class="Indicacion text-center" style="display:inherit">Altas de aliado</span>
                <table class="table table-striped table-hover table-condensed small-top-margin" id="IRPALTA">
                    <thead>
                        <tr>
                            <th>Ann</th>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dic</th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyIRPALTA"></tbody>
                </table>
            </div>
            <div class="house">
                <span class="Indicacion text-center" style="display:inherit">Bajas de aliado</span>
                <table class="table table-striped table-hover table-condensed small-top-margin" id="IRPBAJA">
                    <thead>
                        <tr>
                            <th>Ann</th>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dic</th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyIRPBAJA"></tbody>
                </table>
            </div>
            <div class="house">
                <span class="Indicacion text-center" style="display:inherit">Lista de acumulados</span>
                <table class="table table-striped table-hover table-condensed small-top-margin" id="IRPACUMULADO">
                    <thead>
                        <tr>
                            <th>Ann</th>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dic</th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyIRPACUMULADO"></tbody>
                </table>
            </div>

            </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        

        //IRP
        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("IRP")',
            dataType: 'json',*@
            //data: {  },
            //success: function (json) {
               
            //    console.log(json);
                //var ResJson = JSON.stringify(json)
                //var dato = $.parseJSON(json);  
                
             


                //$("#cuerpoIRP").html("");
                //for (var i = 0; i < json.length; i++) {


                //    var tr = '<tr><td>'
                //             // + response[i].Em_Cve_Empleado + '</td><td>'
                //              + json[i].Ann + '</td><td>'
                //              + json[i].Ene + '</td><td>'
                //              + json[i].Feb + '</td><td>'
                //              + json[i].Mar + '</td><td>'
                //              + json[i].Abr + '</td><td>'
                //              + json[i].May + '</td><td>'
                //              + json[i].Jun + '</td><td>'
                //              + json[i].Jul + '</td><td>'
                //              + json[i].Ago + '</td><td>'
                //              + json[i].Sep + '</td><td>'
                //              + json[i].Oct + '</td><td>'
                //              + json[i].Nov + '</td><td>'
                //              + json[i].Dic
                //              + '</td></tr>';
                //    $("#cuerpoIRP").append(tr);
                //}






                               
               // let $dt = $('#IRP');
                
               // $("#IRP").dataTable().fnDestroy();

               // //LlenarTabla(json);
               //// let $dt = $('#IRP');

               // let dt = $dt.DataTable({
                    
               //     //data: json,
               //     data: json,
               //     columns: [
               //           { data: "Ann" },
               //           //{ data: "Ann", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Ene", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Feb", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Mar", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Abr", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "May", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Jun", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Jul", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Ago", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Sep", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Oct", render: $.fn.dataTable.render.number(',', '.', 2) },
               //           { data: "Nov", render: $.fn.dataTable.render.number(',', '.', 2) },                          
               //           { data: "Dic", render: $.fn.dataTable.render.number( ',', '.', 2 ) }
               //          // { data: "Ene" }
               //           //{ "data": "[2]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" },
               //           //{ "data": "[0]" }
               //     ],
               //     "language": {
               //         "sProcessing": "Procesando...",
               //         "sLengthMenu": "Mostrar _MENU_ registros",
               //         "sZeroRecords": "No se encontraron resultados",
               //         "sEmptyTable": "Ningún dato disponible en esta tabla",
               //         "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
               //         "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
               //         "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
               //         "sInfoPostFix": "",
               //         "sSearch": "Buscar:",
               //         "sUrl": "",
               //         "sInfoThousands": ",",
               //         "sLoadingRecords": "Cargando...",
               //         "oPaginate": {
               //             "sFirst": "Primero",
               //             "sLast": "Último",
               //             "sNext": "Siguiente",
               //             "sPrevious": "Anterior"
               //         },
               //         "oAria": {
               //             "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
               //             "sSortDescending": ": Activar para ordenar la columna de manera descendente"
               //         }
               //     },
               //     "paging": false,
               //     "info": false,
               //     "filter":false,
               //     "decimal": ",",
               //     "thousands": "."

               // });

        //    }
        //})

        //IRP ALTA
        $.ajax({
            type: 'POST',
            url: '@Url.Action("IRPAlta")',
            dataType: 'json',
            //data: {  },
            success: function (json) {

                $("#IRPALTA").dataTable().fnDestroy();

                //LlenarTabla(json);
                let $dt = $('#IRPALTA');

                let dt = $dt.DataTable({
                    data: json,
                    columns: [
                          { data: "Ann" },
                          { data: "Ene" },
                          { data: "Feb" },
                          { data: "Mar" },
                          { data: "Abr" },
                          { data: "May" },
                          { data: "Jun" },
                          { data: "Jul" },
                          { data: "Ago" },
                          { data: "Sep" },
                          { data: "Oct" },
                          { data: "Nov" },
                          { data: "Dic" }
                    ],
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    "decimal": ",",
                    "thousands": ".",
                    "paging": false,
                    "info": false,
                    "filter": false

                });

            }
        })

        //IRPBAJA
        $.ajax({
            type: 'POST',
            url: '@Url.Action("IRPBaja")',
            dataType: 'json',
            //data: {  },
            success: function (json) {

                $("#IRPBAJA").dataTable().fnDestroy();

                //LlenarTabla(json);
                let $dt = $('#IRPBAJA');

                let dt = $dt.DataTable({
                    data: json,
                    columns: [
                          { data: "Ann" },
                          { data: "Ene" },
                          { data: "Feb" },
                          { data: "Mar" },
                          { data: "Abr" },
                          { data: "May" },
                          { data: "Jun" },
                          { data: "Jul" },
                          { data: "Ago" },
                          { data: "Sep" },
                          { data: "Oct" },
                          { data: "Nov" },
                          { data: "Dic" }
                    ],
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "info": "",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    "paging": false,
                    "info": false,
                    "filter":false

                });

            }
        })


        //IRPACUMULADO
        $.ajax({
            type: 'POST',
            url: '@Url.Action("IRPAcumulado")',
            dataType: 'json',
            //data: {  },
            success: function (json) {

                $("#IRPACUMULADO").dataTable().fnDestroy();

                //LlenarTabla(json);
                let $dt = $('#IRPACUMULADO');

                let dt = $dt.DataTable({
                    data: json,
                    columns: [
                          { data: "Ann" },
                          { data: "Ene" },
                          { data: "Feb" },
                          { data: "Mar" },
                          { data: "Abr" },
                          { data: "May" },
                          { data: "Jun" },
                          { data: "Jul" },
                          { data: "Ago" },
                          { data: "Sep" },
                          { data: "Oct" },
                          { data: "Nov" },
                          { data: "Dic" }
                    ],
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "info": "",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    "paging": false,
                    "info": false,
                    "filter": false

                });

            }
        })


    });

    $('#Rotacion').click(function () {
        var valorMinimo = $("#ValorMinimo").val();
        var valorMaximo = $("#ValorMaximo").val();
        console.log(valorMaximo)

        var Minimi = parseFloat(valorMinimo);
        var Maximo = parseFloat(valorMaximo);
        console.log(Minimi)
        console.log(Maximo)


        if (valorMinimo == '' | valorMaximo =='')
        {
            alert("Escriba el valor mínimo y máximo de rotación");
        } else {
            $('#IRP tbody').each(function () {
                this.style.backgroundColor = color1 = "#ffffff";
            });

            $('#grid tbody td').each(function () {
                var valor = $(this).text();
                var valorGrid = parseFloat(valor);
                //amarillo
                if (valorGrid >= Minimi & valorGrid <= Maximo & valorGrid != 2000 & valorGrid != 2018 & valorGrid != 2019 & valorGrid != 2020) {
                    this.style.backgroundColor = color1 = "#ffb300";
                    this.style.color = color1 = "#ffffff";
                }
                //ROJO
                if (valorGrid > valorMaximo & valorGrid != 2000 & valorGrid != 2018 & valorGrid != 2019 & valorGrid != 2020) {
                    this.style.backgroundColor = color1 = "#ff0000";
                    this.style.color = color1 = "#ffffff";
                }


                //BLANCO
               // if (valorMinimo >valor ) {
                   // this.style.backgroundColor = color1 = "#ffb300";
                   //this.style.color = color1 = "#ffffff";
                //}
                //AMARILLO
                //if (valor>=valorMinimo |valor<= valorMaximo) {
                //    this.style.backgroundColor = color1 = "#ffb300";
                //    this.style.color = color1 = "#ffffff";
                //}
                ////ROJO
                //if (valor > valorMaximo) {
                //    this.style.backgroundColor = color1 = "#ff0000";
                //    this.style.color = color1 = "#ffffff";
                //}
            });
        }

        


        //var valor = [];

        //$('#IRP tr').each(function () {

        //    var Ann = $(this).find("td").eq(0).html();
        //    var Ene = $(this).find("td").eq(1).html();
        //    var Feb = $(this).find("td").eq(2).html();
        //    var Mar = $(this).find("td").eq(3).html();
        //    var Abr = $(this).find("td").eq(4).html();
        //    var May = $(this).find("td").eq(5).html();
        //    var Jun = $(this).find("td").eq(6).html();
        //    var Jul = $(this).find("td").eq(7).html();
        //    var Ago = $(this).find("td").eq(8).html();
        //    var Sep = $(this).find("td").eq(9).html();
        //    var Oct = $(this).find("td").eq(10).html();
        //    var Nov = $(this).find("td").eq(11).html();
        //    var Dic = $(this).find("td").eq(12).html();
        //    //valor[valor.length] = Ene; //valor[valor.length] = Feb; //valor[valor.length] = Mar;
        //    //valor[valor.length] = Abr; //valor[valor.length] = May; //valor[valor.length] = Jun;
        //    //valor[valor.length] = Jul; //valor[valor.length] = Ago; //valor[valor.length] = Sep; //valor[valor.length] = Oct;
        //    //valor[valor.length] = Nov; //valor[valor.length] = Dic;

        //    if (Ene == valorCelda) {
        //        Ene.style.backgroundColor = color1 = "#ffb300";
        //        this.style.color = color1 = "#ffffff";
        //    }
        //    //ROJO
        //    if (Ene > valorCelda) {
        //        this.style.backgroundColor = color1 = "#ff0000";
        //        this.style.color = color1 = "#ffffff";
        //    }


        //});

    


    });
</script>




@*<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#example').DataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                            that.style.backgroundColor = "yellow";
                            //document.getElementById('prueba').style.backgroundColor = "blue";
                                //.draw();
                        }
                    });
                });
            }
        });

    });
</script>*@




<style>
    .table-responsive {
    overflow-x: initial!important;
}
</style>