﻿@model IEnumerable<ENTIDADES.Seguridad.PermisoEmpleadoViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "ControlLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="box box-info" style="min-height: 506px;">
        <div class="box-header" style="padding-top:0px!important;">
            <h4 class="col-md-12 Indicacion text-center">Control de acceso (Inicio sesión)</h4>
        </div>
        <hr />
        <div class="box-body">
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.Usuario).Titled("Usuario").Css("gridCel").Sortable(true).Filterable(true).Title.Trim();
           columns.Add(c => c.FechaVar).Titled("Fecha").Css("gridCel").Sortable(true).Filterable(true);
           columns.Add(c => c.Total).Titled("Total").Css("gridCel").Sortable(true).Filterable(true);
       }).Sortable(true).EmptyText("Sin Registros").WithPaging(15, 5)
        </div>
    </div>
</div>

<style>
    .dropdown.dropdown-menu.grid-dropdown.opened {
        margin-left: -67px !important;
    }

    .grid-dropdown-arrow {
        left: 63px !important;
    }
</style>