﻿@model IEnumerable<ENTIDADES.Seguridad.PermisoEmpleadoViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "ControlIndicadorOperaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="box box-info" style="min-height: 506px;">
        <div class="box-header" style="padding-top:0px!important;">
            <h4 class="col-md-12 Indicacion text-center">Control para indicadores: Matriz de indicadores de gestión</h4>
        </div>
        <hr />
        <div class="container-fluid" style="margin-bottom:30px">
            @*@using (Html.BeginForm("ControlIndicadorOperaciones", "Permisos", FormMethod.Post, new { @class = "form-horizontal login100-form", enctype = "multipart/form-data" }))
            {

                <div class="col-md-3">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label Indicacion text-center" style="width:min-content;">Año:</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("anio", new SelectList(string.Empty, "Value", "Text"), "- seleccionar -", new { @name = "anio", @style = "display:block; width:100%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label Indicacion text-center" style="width:min-content;">Mes:</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("mes", new SelectList(string.Empty, "Value", "Text"), "- seleccionar -", new { @name = "mes", @style = "display:block; width:100%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row mb-3">
                        <label class="col-md-6 col-form-label Indicacion" style="width:min-content">Sucursal:</label>
                        <div class="col-sm-6">
                            @Html.DropDownList("sucursal", new SelectList(string.Empty, "Value", "Text"), "- seleccionar -", new { @name = "Sucursal", @style = "display:block; width:100%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btnOk">Consultar</button>
                        </div>
                    </div>
                </div>

            }*@



            @using (Ajax.BeginForm("ControlIndicadorOperaciones", "Permisos", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "Generar",
                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure"
            }))
            {
                @Html.ValidationSummary(true)
                <div class="col-md-3">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label Indicacion text-center" style="width:min-content;">Año:</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("anio", new SelectList(string.Empty, "Value", "Text"), "- seleccionar -", new { @name = "anio", @style = "display:block; width:100%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label Indicacion text-center" style="width:min-content;">Mes:</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("mes", new SelectList(string.Empty, "Value", "Text"), "- seleccionar -", new { @name = "mes", @style = "display:block; width:100%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row mb-3">
                        <label class="col-md-6 col-form-label Indicacion" style="width:min-content">Sucursal:</label>
                        <div class="col-sm-6">
                            @Html.DropDownList("sucursal", new SelectList(string.Empty, "Value", "Text"), "- seleccionar -", new { @name = "Sucursal", @style = "display:block; width:140%" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="ok">Consultar</button>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="box-body" id="Generar">
            
          
        </div>
    </div>
</div>
<style>
    .dropdown.dropdown-menu.grid-dropdown.opened {
        margin-left: -67px !important;
    }

    .grid-dropdown-arrow {
        left: 63px !important;
    }
</style>

<script>
    //año, mes, sucursal
    $(document).ready(function () {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Control")',
            dataType: 'json',
            success: function (response) {

                console.log(response);
                $.each(response.anio, function (i, anioReponse) {
                    $("#anio").append('<option value="' + anioReponse.anio + '">' + anioReponse.anio + '</option>');
                });

                $.each(response.mes, function (i, mesResponse) {
                    $("#mes").append('<option value="' + mesResponse.Total + '">' + mesResponse.mes + '</option>');
                });

                $.each(response.sucursal, function (i, sucursalResponse) {
                    $("#sucursal").append('<option value="' + sucursalResponse.Sucursal + '">' + sucursalResponse.Sucursal + '</option>');
                });

            },
        });
    });


    function OnFailure() {
        alert("Intente de nuevo");
    }
</script>
