﻿@model IEnumerable<ENTIDADES.Seguridad.PermisoEmpleadoViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Acceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-2.2.3.js"></script>*@
<div class="content">
    <div class="box box-info" style="min-height: 506px;">
        <div class="box-header" style="padding-top:10px!important;">
            <span class="Indicacion text-center" style="display:inherit;">Permisos/Acceso</span>
        </div>
        <hr />
        <div class="box-body">
            <div class="container col-md-12" style="margin: 0px 0px 20px 0px!important;">
                <button class="ok" id="AddAcceso" type="button">Nuevo</button>
            </div>

            <div id="jstree"></div>
            @*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <input type="hidden" name="selectedItems" id="selectedItems" />
                <input type="submit" value="Submit" />
            }*@

       <script type="text/javascript">
        $(function () {
            $('#jstree').on('changed.jstree', function (e, data) {
                var i, j;
                var selectedItems = [];
                for(i = 0, j = data.selected.length; i < j; i++) {

                    //Busca la identificación.
                    var id = data.selected[i];

                    //Quite el ParentId.
                    //if(id.indexOf('-') != -1){
                    //    id = id.split("-")[1];
                    //}

                    //Agregue el nodo a la matriz JSON.
                    selectedItems.push({
                        text: data.instance.get_node(data.selected[i]).text,
                        id: id,
                        parent: data.node.parents[0]
                    });

                    //Al seleccionar item mandar a los detalles del ticket
                    if(data.node.parents[0]=="#"){ 

                        $('#ShowModificar').modal("show");
                        $("#txt1").val(data.node.text);
                        $("#cvePuesto").val(id);

                     
                        var $demo = $("#jstree");
                        var nodes =  $demo.jstree("get_top_selected", true);

                        //Selects all of the children of each selected node including folders
                        if(nodes.length > 0){
                            nodes.forEach(function(node, i){
                                $demo.jstree("select_node", node.children_d, true, false);
                            });
                        }

                        var fileNodes = $demo.jstree("get_bottom_selected", false);

                        //We now need to deselect everything and only select the file nodes
                        $demo.jstree("deselect_all", true);
                        $demo.jstree("select_node", fileNodes, true, false);
                        
                        
                        $("#prueb").val(fileNodes);

                   
                    }
                }
                //Serialize the JSON Array and save in HiddenField.
                //$('#selectedItems').val(JSON.stringify(selectedItems));
            }).jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json),
                    },
                //"checkbox": {
                //    "keep_selected_style": false
                //},
                //"plugins": ["wholerow", "checkbox"],
                //"plugins": ["types", "conditionalselect", "sort","dnd" ],
                "plugins": ["themes", "json_data"],
            });
        });
            </script>
            </div>
        </div>
</div>
<style>
  div#jstree {
    margin-top: 50px!important;
}
</style>

<!-- Modal para agregar nuevos dias inhabiles -->
<div class="modal fade" id="ShowAlta" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title Indicacion" id="staticBackdropLabel">Nuevo permiso por puesto</h4>
            </div>
            <form id="FormProducto">
                <div class="modal-body">
                    
                    <h4 class="Indicacion">Puesto:</h4>
                   @Html.DropDownList("PuestoID", new SelectList(string.Empty, "Value", "Text"), "- Seleccione el puesto -", new { @class = "lista resultado", @name = "SucursalID" })

                    <h4 class="Indicacion">Modulo:</h4>
                    @*@Html.DropDownList("ModuloID", new SelectList(string.Empty, "Value", "Text"), "- Seleccione el modulo -", new { @class = "lista resultado", @name = "SucursalID" })*@
                    <select id="ModuloID" multiple="multiple" style="display:none"></select>

                </div>
                <div class="modal-footer">
                    <button class="cnc" type="button" id="Cancelar" value="Cancelar" data-dismiss="modal" aria-label="Close" style="padding:5px 10px 1px!important;">
                        Cancelar
                    </button>
                    <button class="ok" type="button" id="AltaAcceso" value="Alta"> Guardar </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //abrir modal de alta
    $("#AddAcceso").click(function () {
        $('#ShowAlta').modal('show');
        //Modulo
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RolPermiso", "Permisos")',
            dataType: 'json',
            success: function (Response) {
               

                $.each(Response.Rol, function (i, Rol) {
                    $("#PuestoID").append('<option value="' + Rol.PermisoID + '">' + Rol.Modulo + '</option>');
                });
                //$.each(Response.Modulo, function (i, Modulo) {
                //    $("#ModuloID").append('<option value="' + Modulo.PermisoID + '">' + Modulo.Modulo + '</option>');
                //});
                $.each(Response.Modulo, function (i, Modulo) {
                    cuerpo = '<option value="' + Modulo.PermisoID + '">' + Modulo.Modulo + '</option>';
                    $("#ModuloID").append(cuerpo);
                });
                
                $('#ModuloID').multiselect({
                    includeSelectAllOption: false
                });

                              
            },
        });
    })

    //FUNCION ALTA NUEVO PERMISO
    $("#AltaAcceso").click(function () {

        var combo = document.getElementById("PuestoID");
        var RolID  = combo.options[combo.selectedIndex].value;

        var ModuloLista = $("#ModuloID option:selected");
        var Modulo = "";

        ModuloLista.each(function () {
            //Producto += $(this).text() + " " + $(this).val() + "\n";
            Modulo += $(this).val() + ",";
        });

        //Modulo
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddAccess", "Permisos")',
            dataType: 'json',
            data: { RolID, Modulo },
            success: function (Response) {
                $('#mensajeModal').modal('show');
                $('#resultado').html(Response);
                //alert(Response);

            },
        });

    })
</script>

<div class="modal fade" id="ShowModificar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title Indicacion" id="staticBackdropLabel">Nuevo permiso por puesto</h4>
            </div>
            <form id="FormProducto">
                <div class="modal-body">
                    <h4 class="Indicacion">Puesto:</h4>
                    <input class="col-md-12" id="txt1" name="txt1" type="text" readonly />
                    <input class="col-md-12" id="cvePuesto" name="txt1" type="hidden" />
                    @*<select id="ModuloIDRes" multiple="multiple" style="display:none" class="lista resultado"></select>*@
                             
                </div>
                <div class="modal-footer">
                    <button class="cnc" type="button" id="Cancelar" value="Cancelar" data-dismiss="modal" aria-label="Close" style="padding:5px 10px 1px!important;">
                        Cancelar
                    </button>
                    <button class="ok" type="button" id="Eliminar" value="Eliminar"> Eliminar </button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .btn-group.open {
        width: 100% !important;
    }

    button.dropdown-item.multiselect-all {
        width: 100% !important;
        text-align: left !important;
    }

    button.multiselect-option.dropdown-item {
        width: 100% !important;
        text-align: left !important;
        background: white !important;
    }

        button.multiselect-option.dropdown-item:hover {
            width: 100% !important;
            text-align: left !important;
            background: #cacaca !important;
        }

    button.multiselect.dropdown-toggle.custom-select {
        width: 100% !important;
        text-align: left !important;
        background: white !important;
        font-size: 14px !important;
    }

    .btn-group {
        width: 100% !important;
        border: 1px solid #cacaca !important;
    }

    .multiselect-container.dropdown-menu {
        height: 350px !important;
        overflow: scroll !important;
    }
</style>

@*Mensaje al guardar la cantidad de dia habil*@
<div class="modal fade" id="mensajeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="resultado" class="text-center"></div>
                <button class="cnc" onclick="location.reload();" type="button">  Cerrar. </button>
            </div>

        </div>
    </div>
</div>
<script>
    //ELiminar pemriso
    $("#Eliminar").click(function () {
        var CodigoAlterno = $("#txt1").val();
        var Em_Puesto = $("#cvePuesto").val();


        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeletePermisoLog", "Permisos")',
            dataType: 'json',
            data: { CodigoAlterno, Em_Puesto },
            success: function (Response) {
                $('#ShowModificar').modal('hide');
                $('#mensajeModal').modal('show');
                $('#resultado').html(Response);


            },
        });

    })
</script>