﻿
@{
    ViewBag.Title = "PermisoOperaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="box box-info" style="min-height: 506px;">
        <div class="box-header" style="padding-top:0px!important;">
            <h4 class="col-md-12 Indicacion text-center">Empleados con sucursales </h4>
        </div>
        <hr />
        <div class="box-body">
            <div class="container col-md-12" style="margin: 0px 0px 10px 0px!important;">
                <button class="ok" id="AddPermiso" type="button">Nuevo <i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>

            <div id="PermisoEmpSuc"></div>
        </div>
    </div>
</div>

<!-- Modal para agregar nuevas bases  -->
<div class="modal fade" id="AltaPermiso" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title Indicacion" id="staticBackdropLabel">Alta de permiso de empleados en las sucursales</h4>
            </div>
            <form id="FormProducto">
                <div class="modal-body">

                    <h4 class="Indicacion">Puesto:</h4>
                    @Html.DropDownList("PuestoID", new SelectList(string.Empty, "Value", "Text"), "- Seleccione el puesto -", new { @class = "lista resultado", @name = "SucursalID" })

                    <h4 class="Indicacion">Empleado:</h4>
                    @Html.DropDownList("EmpleadoID", new SelectList(string.Empty, "Value", "Text"), "- Seleccione el empleado -", new { @class = "lista resultado", @name = "SucursalID" })
                    
                    <h4 class="Indicacion">Sucursal:</h4>
                    <select id="SucursalID" multiple="multiple" style="display:none"></select>

                    <div class="modal-footer">
                        <button class="cnc" type="button" id="Cancelar" value="Cancelar" data-dismiss="modal" aria-label="Close" style="padding:5px 10px 1px!important;">
                            Cancelar
                        </button>
                        <button class="ok" type="button" id="Alta" value="Alta">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#AddPermiso").click(function () {
        $('#AltaPermiso').modal('show');
        //PUESTO
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PuestoOperacionesInd", "Permisos")',
            dataType: 'json',
            success: function (Response) {               
                
                $.each(Response, function (i, puesto) {
                    $("#PuestoID").append('<option value="' + puesto.Pe_Cve_Puesto_Empleado + '">' + puesto.Nombre + '</option>');
                });                

                $.ajax({
                    type: 'POST',
                    //url: '@Url.Action("Sucursal")',
                    url: '@Url.Action("Sucursal", "MatrizGestion")',
                    dataType: 'json',
                    success: function (Sucursal) {

                        $.each(Sucursal, function (i, Sucursal) {
                            cuerpo = '<option value="' + Sucursal.Value + '">' + Sucursal.Text + '</option>';
                            $("#SucursalID").append(cuerpo);
                        });
                        $('#SucursalID').multiselect({
                            includeSelectAllOption: true
                        });

                    }
                })
 

            },
        });

        //EMPLEADO
        //ALIADO POR SUCURSAL
        $("#PuestoID").change(function () {
            
            $("#EmpleadoID").empty();
            var combo = document.getElementById("PuestoID");
            var puestoID = combo.options[combo.selectedIndex].value;

            $.ajax({
                url: '@Url.Action("EmpleadoOperacionesInd", "Permisos")',
                type: 'POST',
                dataType: 'json',
                data: { puestoID },
                success: function (Response) {
                    $.each(Response, function (i, empleado) {
                        $("#EmpleadoID").append('<option value="' + empleado.Usuario + '">' + empleado.Nombre + '</option>');
                    });
                },
            })
        });

    })
</script>


<script>
    //FUNCION ALTA NUEVO PERMISO EMPLEADO CON LAS SUCURSALES
    $("#Alta").click(function () {
        
        var combo = document.getElementById("EmpleadoID");
            var Usuario = combo.options[combo.selectedIndex].value;

            var Suc = $("#SucursalID option:selected");
            var Sucursal = "";
            //var SucursalID = "";

            Suc.each(function () {
                //Producto += $(this).text() + " " + $(this).val() + "\n";
                Sucursal += $(this).text() + ": " + $(this).val() + ",";
                //Sucursal += $(this).text() + ",";
                //SucursalID += $(this).val() + ",";
            });

            //Modulo
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AltaEmpSuc", "Permisos")',
                dataType: 'json',
                data: { Usuario, Sucursal },
                success: function (Response) {
                    $('#mensajeModal').modal('show');
                    $('#resultado').html(Response);
                    //alert(Response);

                },
            });

    });
</script>

@*Mensaje al guardar la cantidad de dia habil*@
<div class="modal fade" id="mensajeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="resultado" class="text-center"></div>
                <button class="cnc" onclick="location.reload();" type="button">  Cerrar. </button>
            </div>

        </div>
    </div>
</div>

<style>
    .btn-group.open {
    width: 100%!important;
}
    button.dropdown-item.multiselect-all {
    width: 100%!important;
    text-align: left!important;
}
    button.multiselect-option.dropdown-item {
    width: 100%!important;
    text-align: left!important;
    background: white!important;
}
    button.multiselect-option.dropdown-item:hover {
    width: 100%!important;
    text-align: left!important;
    background: #cacaca!important;
}
    button.multiselect.dropdown-toggle.custom-select {
    width: 100%!important;
    text-align: left!important;
    background: white!important;
    font-size: 14px!important;
}
    .btn-group {
    width: 100%!important;
    border: 1px solid #cacaca!important;
}
    .multiselect-container.dropdown-menu {
    height: 350px!important;
    overflow: scroll!important;
}
    div#PermisoEmpSuc {
    margin-top: 50px;
}
</style>

<script type="text/javascript">
        $(function () {
            $('#PermisoEmpSuc').on('changed.jstree', function (e, data) {
                var i, j;
                var selectedItems = [];
                for(i = 0, j = data.selected.length; i < j; i++) {

                    //Busca la identificación.
                    var id = data.selected[i];

                    //Quite el ParentId.
                    //if(id.indexOf('-') != -1){
                    //    id = id.split("-")[1];
                    //}

                    //Agregue el nodo a la matriz JSON.
                    selectedItems.push({
                        text: data.instance.get_node(data.selected[i]).text,
                        id: id,
                        parent: data.node.parents[0]
                    });

                    //Al seleccionar item mandar a los detalles del ticket
                    if(data.node.parents[0]=="#"){
                        
                        $('#ShowModificar').modal("show");
                        $("#txt1").val(data.node.text);
                        
                        var $demo = $("#PermisoEmpSuc");
                        var nodes =  $demo.jstree("get_top_selected", true);


                        //Selects all of the children of each selected node including folders
                        if(nodes.length > 0){
                            nodes.forEach(function(node, i){
                                $demo.jstree("select_node", node.children_d, true, false);
                                
                            });
                        }

                        var fileNodes = $demo.jstree("get_bottom_selected", false);

                        //We now need to deselect everything and only select the file nodes
                        $demo.jstree("deselect_all", true);
                        $demo.jstree("select_node", fileNodes, true, false);
                        
                        
                        $("#prueb").val(fileNodes);



                        
                     




                    }
                }
                //Serialize the JSON Array and save in HiddenField.
                $('#selectedItems').val(JSON.stringify(selectedItems));
            }).jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json),
                    },
                //"checkbox": {
                //    "keep_selected_style": false
                //},
                //"plugins": ["wholerow", "checkbox"],
                "plugins": ["themes", "json_data"],
            });
        });
</script>

<div class="modal fade" id="ShowModificar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title Indicacion" id="staticBackdropLabel">Eliminar permiso de empleado en las sucursales</h4>
            </div>
            <form id="FormProducto">
                <div class="modal-body">
                    <h4 class="Indicacion">Empleado:</h4>
                    <input class="col-md-12" id="txt1" name="txt1" />
                </div>
                <div class="modal-footer">
                    <button class="cnc" type="button" id="Cancelar" value="Cancelar" data-dismiss="modal" aria-label="Close" style="padding:5px 10px 1px!important;">
                        Cancelar
                    </button>
                    <button class="ok" type="button" id="delete" value="Alta"> Eliminar </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //ELiminar pemriso
    $("#delete").click(function () {
        var CodigoAlterno = $("#txt1").val();


        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeletePermiso", "Permisos")',
            dataType: 'json',
            data: { CodigoAlterno },
            success: function (Response) {
                $('#ShowModificar').modal('hide');
                $('#mensajeModal').modal('show');
                $('#resultado').html(Response);
              

            },
        });
    
    })
</script>